<h3>********Welcome to the longest word-game !********</h3>
<p>Here is your grid </p>
<%=@grid.join %>

<h3> What's your best shot ?</h3>
<!-- # start_time = Time.now
# attempt = gets.chomp
# end_time = Time.now -->


<form action="/score" method="get">
  <label for="question">Your choice</label>
  <input type="hidden" value="<%= @start_time %>" name="start_time">
  <input type="hidden" value="<%= @grid %>" name="grid">
  <input type="text" id="question" name="choice" placeholder="what is your best shot?">
  <input type="submit" value="Go on!">
</form>

